.row{
    margin-left: 0px;
    margin-right: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right: 0px;
padding-left: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
	position: relative;
	font-weight:400;
    color: #000;
}

/* thusitha Style */
.head{
    border-bottom:solid #dfdfdf 1px;
    z-index: 2;
    background: #232132;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151225+0,ffffff+100 */
    background: rgb(21,18,37); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(21,18,37,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(21,18,37,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(21,18,37,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151225', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.logo-text{
    display:inline-block;
    margin: 15px 0;
    font-size: 18px;
}
.logo{
    display:inline-block;
    margin-top: -14px;
}
.log-name{
    display:inline-block;
    margin: 15px 20px;
    font-weight: 600;
    font-size:12px;
}
.log{
    display:inline-block;
    margin-top: -14px;
    font-size:12px;
}

a {
    color: #dc2525;
    text-decoration: none;
}
.back-link{
    color: #000;
    font-weight: 600;
    margin-top: 10px;
}
.back-link i{
    font-size:10px;
}
.back-back{
    padding:20px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 13px;
    padding-left: 4px;
}
label span{
    color:#bbbbbb;
}
.form-group {
    margin-bottom: 30px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #fff;
    opacity: 1;
}
.border{
    border: 1px solid rgba(204, 204, 204, 0.45);
}
.btn-default {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}
.has-error .form-control {
    border-color: #ffbcbc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background: #ffbcbc;
}
.has-error span {
    color: #ff0000;
    font-size: 11px;
    padding-left: 4px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 11% auto 0;
    }}
.modal-content {
    border-radius: 0;}

.red-text{
    color:#e62f42;
}
.green-text {
    color: #167928;
}
/* end thusitha Style */


.delete_coross{
    text-shadow: 1px 1px 0px rgba(255,255,255,.5);
    color: #ff0000;
    position: absolute;
    right: 0;
    top: 0;
}

/* ruwan Style */
.pad-login{
    padding: 12% 6%;
}
.login-shadow{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.20);
    padding: 10px;
}
.login-text{
    font-size: 20px;
    margin-bottom: 30px;
}
.form-lable{
    font-size: 13px;
    font-weight: 500;
}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(204, 204, 204, 0.45);
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.025);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.025);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.login-btn{
    background-color: #dc2525;
    border-color: #dc2525;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
}
.login-btn-pad{
    padding: 30px 0 15px 0;
}
.nav-stacked>li.active>a, .nav-stacked>li.active>a:hover, .nav-stacked>li.active>a:focus {
    color: #000;
    background-color: #fff;
    border-left: 0px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
}
.body-back{
    background-color: #fff;
    padding: 10px 20px 20px;
    border-left: 1px solid #dfdfdf;
}
.nav-stacked>li>a:hover, .nav-stacked>li>a:focus {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #fff;
    border-radius: 0;
}
.nav-stacked>li+li {
    margin-top: 0px;
    margin-left: 0;
}
.nav-stacked>li>a {
    border-radius: 4px;
    padding: 20px 25px;
    font-size: 14px;
    background-color: transparent;
    color: #000;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}
.gray-back{
    background-color: #f9f9f9;
}
.nav-stacked {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    margin-right: -1px;
    z-index: 1;
}
.main-div-border{
    border: 1px solid #dfdfdf;
    margin-top: -2px;
    min-height: 92vh;
}
.all-news{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 35px;
}
.btn {
    padding: 8px 25px;
    font-size: 12px;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-success {
    color: #fff;
    background-color: #32c100;
    border-color: #32c100;
}
.filter-drop{
    box-shadow: none;
    border: 0;
    font-weight: 700;
}
.filter-pad{
    padding-left: 50px;
}
.box-back{
    background: url("images/promo.jpg") no-repeat;
    background-size: cover;
    min-height: 26vh;
}
.empty-box-back{
    background: none;
    border: 1px solid #dfdfdf;
    min-height: 26vh;
}
.pad-box{
    padding: 15px 0 0 0;
}
.bx-title{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2px;
    margin-top: 2px;
}
.bx-para{
    color: #fff;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 12px;
}
.box-inner-pad{
    padding: 0 10px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.box-gen-pad{
    padding: 5px 10px;
}
.bot-pad-row{
    padding-bottom: 20px;
}
.row-mar{
    margin: 0px -10px;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #dfdfdf;
    border-color: #dfdfdf;
}

.box-back-img{
    height: 20vh;
}
/* end ruwan Style */